<header>
    <nav>
        <div class="toggle">
            <span class="first"></span>
            <span class="middle"></span>
            <span class="last"></span>
        </div>
        <div class="navigation-bar">
            <ul>
                <li class="active"><a href="index.html">Home<span class="underline"></span></a></li>
            <li><a routerLink='/restaurants'>Restaurants<span class="underline"></span></a></li>
                <li><a href="#">Menu<span class="underline"></span></a></li>
                <li><a href="#">Login<span class="underline"></span></a></li>
                <li><a href="#">Contact<span class="underline"></span></a></li>
            </ul>
        </div>
    </nav>
    
    <div class="text">
       
        <h3 class="welcome">Welcome</h3>
        <h1>Go Food</h1>
        <div class="arrow">
            <span class="left"></span>
            <i class="fas fa-asterisk"></i>
            <span class="right"></span>
        </div>

    </div>
    <div class="arrow-down">
    </div>
</header>